<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TS_Login">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="tests.TS_Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
